body {
  overflow: hidden;
  background-repeat: repeat;
}
a {
  font-size: 22px;
  font-weight: 1000;
  color: inherit;
  color: #3f3f3f;
  text-decoration: none;
}
.main-app {
  display: flex;
  height: 100vh;
  overflow: auto;
}
@media (max-width: 600px) {
  .main-app {
    display: grid;
  }
}
code{
  color: rgb(5,111,187);
}
.backname2{
  position: absolute;
  left: 0;
  bottom: 0;
}
.logo {
  margin-left: 10px;
}
.login-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-box .JiaoziFS {
  height: 5vw;
  width: 5vw;
  margin: 0 auto;
  display: flex;
  position: relative;
  right: 1vh;
}

.creatButton{
  margin-top: 2vh;
}

.login-display {
  width: 400px;
  height: 450px;
  margin-top: 100px;
  border-radius: 5px 0 0 5px;
  background-image: url(../../pub/space-7073093_1280.png);
}
.login-display .tittle {
  display: flex;
  justify-content: center;
}
.login-display .tittle h1 {
  color: white;
  font-size: 30px;
  margin: 30px;
}
.login-display .tittle h1 img {
  width: 50px;
}
@media (max-width: 600px) {
  .login-display {
    display: none;
  }
}
.login-widget.jiaozi-login.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:  0 auto;
  height: 60vh;
  z-index: 999;
  background-color: rgb(255, 255, 255,0);
  border: 1px solid white;
}
.login-widget.jiaozi-login.card .card-header {
  height: 5vh;
  position: relative;
  border: none;
  background-color: transparent;
  margin-top: 1vh;
}

.login-widget.jiaozi-login.card a {
  display: inline-block;
  margin: 20px 30px;
  color: #95a3a7;
}
.backname{
  position: absolute;
  width: 30vw;
  height: 30vw;
  right: 5px;
  bottom: 0;
}
.card input:hover{
  border: 2px solid rgb(5,111,187);
}
.login-widget.jiaozi-login.card a:hover {
  color: rgb(5,111,187);
  border-bottom: 3px solid rgb(5,111,187);
}
.login-widget.jiaozi-login.card .active,
.login-widget.jiaozi-login.card a::after {
  color: rgb(5,111,187);
  border-bottom: 3px solid rgb(5,111,187);
}
.login-widget.jiaozi-login.card .btn {
  width: 17vw;
  position: relative;
  top: 5vh;
  height: 40px;
  margin: 0 auto;
  font-weight: 600;
  line-height: 30px;
  border: 1px solid rgb(5,111,187);
  border-radius: 5px;
  color: white;
  background-color: rgb(121, 151, 240);
}
.login-widget.jiaozi-login.card .btn svg {
  font-size: 20px;
  transform: translate(-10px, 5px);
}
.login-widget.jiaozi-login.card .Goo {
  background-color: white;
  color: black;
  margin: -50px auto;
}
.login-widget.jiaozi-login.card .Git {
  margin: -50px auto;
  border-bottom: 1px solid #95a3a7;
}
.login-widget.jiaozi-login.card form {
  width: 300px;
  height: 200px;
}
.login-widget.jiaozi-login.card form .btn {
  margin: 5px auto;
  line-height: 24px;
}
.mustword{
  color: rgb(255, 76, 76);
}
.login-widget.jiaozi-login.card form strong {
  font-weight: 500;
  font-size: 13px;
  color: #808080;
  margin-left: 0px;
}
.login-widget.jiaozi-login.card input {
  font-size: 13px;
  padding: 10px;
  margin: 5px auto;
  height: 40px;
  color: #5d6280;
  border: 1px solid #95a3a7;
  border-radius: 5px;
}
.waytologin {
  margin: 40px 5px;
}
.waytologin p {
  margin: 0 auto;
  color: #95a3a7;
  font-size: 14px;
}
.waytologin .ways {
  display: flex;
  justify-content: center;
  align-items: center;
}
.waytologin .ways .item svg {
  font-size: 25px;
}
.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 20rem;
  margin-right: 10px;
  background-color: #fff;
  overflow-y: scroll;
  border-right: 1px solid #d7d7d7;
}
@media (max-width: 600px) {
  .sidebar {
    height: 30vh;
    margin-left: 5rem;
    width: 20rem;
    border: 2px solid #dbe0fc;
  }
}
.sidebar .navbar-expand {
  justify-content: center;
}
.sidebar .navbar {
  height: 100px;
  width: 100%;
}
.sidebar .navbar .nav-link {
  color: white;
  padding: 0.5rem 1rem;
}
.sidebar form .navbar-username {
  margin: 12px ;
  margin-left: 22px;
  margin-bottom: 22px;
}

.sidebar form .col {
  width: 100%;
  flex-wrap: wrap;
  align-content: space-between;
}
.sidebar form .col img {
  margin: 0 5px;
  width: 20px;
}
.sidebar form .col .btn {
  margin-right: 0px;
}
.sidebar .card {
  margin: 0 auto;
  border: none;
}
.sidebar .card .Nav-Card {
  margin: 0 1.7rem;
  display: grid;
  justify-content: flex-start;
}
.sidebar .card .Nav-Card svg {
  width: 1vw;
  height: 1vw;
  margin: 2px 5px 5px 0px;
}
.sidebar .card .Nav-Card .active {
  background: none;
  color: black;
  color:#658fd3 ;
  border-left: 3px solid #658fd3;
}
.notClick:hover{
  cursor:not-allowed;
}
.notClick{
  cursor:not-allowed;
}
.sidebar .card .Nav-Card button:hover {
  background: none;
  color: black;
  color:#658fd3 ;
  border-left: 3px solid #658fd3;
}
.sidebar .card .Nav-Card button {
  background: none;
  color: black;
  border: none;
  text-align: left;
  margin-bottom: 0.5rem;
  display: flex;
  font-weight: 600;
  border-radius: 0;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.Fast-navb{ 
  border-left: 1px solid black;
}
.child {
  width: 100vw;
}
@media (max-width: 600px) {
  .child {
    border: 2px solid #dbe0fc;
  }
}
.diif-remove span {
  background-color: rgba(255, 0, 0, 0.2);
  text-decoration: line-through;
  color: rgba(255, 0, 0, 0.8);
}
.diif-add span {
  background-color: rgba(0, 128, 0, 0.2);
  color: rgba(0, 128, 0, 0.8);
}
.leftNav {
  background-color: #7b848e;
  border-radius: 5px;
}
.welcome {
  margin-top: 100px;
  display: grid;
  justify-content: center;
}
.welcome code {
  color: #827a7e;
  margin: auto  ;
}
.welcome img {
  width: 70px;
  margin: 0 auto;
}
.welcome h1 {
  font-size: 16px;
  margin: 20px auto;
}
.Progress {
  position: relative;
  width: 40%;
  display: flex;
  justify-content: center;
  /* margin: 1rem auto; */
}
.Progress .progress-bar {
  background-color: #95a3a7;
}
.Progress .version {
  width: 100%;
  display: flex;
  justify-content: center;
}
.topNav {
  background-color: #f1f1f3;
  border-bottom: 1px solid #c9c9c9;
}
.topNav .navbar-brand {
  display: flex;
}
.topNav .navbar-brand strong {
  line-height: 30px;
  margin-left: 0.5rem;
  font-size: 16px;
  color: rgb(67, 67, 67);
}
.Nav-file {
  display: block;
  margin-left: 2rem;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
}
.Nav-dir {
  display: flex;
  font-weight: 600;
  margin-left: 0.8rem;
  font-size: 14px;
  white-space: nowrap;
}
.Nav-dir .Nav-Down {
  width: 20px;
  height: 20px;
}
.Nav-dir .Nav-Dir {
  font-size: 16px;
  margin-right: 5px;
  color: blue;
}
.Child-nav {
  margin-left: 18px;
}
.itwrodname{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 25vw;
}
.filerender {
  display: flex;
}
.storage {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.2rem;
  margin-left: 0.5rem;
  color: #878686;
  border: 1px solid #dcdbdb;
  border-radius: 2px;
  background-color: #e5e5e5;
}
.Alerterror{
  position: absolute;
  width: 80vw;
  top: 5vh;
  animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.mb-3{
  margin-top: 1.5vh;
}
.titleword{
  font-size:45px;
  color: rgb(5,111,187);
  position: relative;
  right: 0.5vh;
  text-align: center;
  width: 15vw;
  padding-bottom: 3vh;
  border-bottom: 1px solid rgb(235, 235, 235);
}
/* Apply the fadeOut animation when the alert disappears */
.Alerterror.fade-out {
  animation: fadeOut 0.5s forwards; /* Fade out animation */
}
.jiaonamebox{
  position: relative;
  top: 5rem;
  margin-left: 18rem;
  z-index: 9999;
}
.repo-card {
  margin-top: 1rem;
}
.repo-card .repo-card-header {
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  line-height: 2.5rem;
}
.repo-card .repo-card-header svg {
  font-size: 18px;
  margin: 0 0.2rem 0.2rem 0;
}
.repo-card .repo-card-header strong {
  font-size: 0.9rem;
}
.repo-card .card {
  border-radius: 0;

}
.Navtittle {
  margin: 2rem auto;
  font-size: 20px;
}
.AKSK-List .row button {
  width: 12rem;
  margin: 0.5rem auto;
}
.AKSK-List .card {
  margin: 0.5rem auto;
}
.AKSK-List .card .card-body {
  display: flex;
}
.AKSK-List .card .card-body button {
  height: 2.5rem;
  width: 8rem;
  margin: auto;
  margin-right: 4rem;
}
.to-repo {
  margin-top: 1.35rem;
  font-size: 18px;
}
.repoTittle {
  font-size: 20px;
  padding-top: 0.5rem;
}
.repo-create .form-floating {
  margin: 5px 0;
}
.repo-create .repo-Visable {
  border: 1px solid #dbe0fc;
  padding: 5px;
  border-radius: 5px;
}
.sortMenu {
  font-size: 14px;
}
.sortMenu .dropdown-item {
  padding-right: 1rem;
  padding-left: 2rem;
}
.sortMenu .UpsplitDropdown {
  border-bottom: 1px solid #dbe0fc;
}
.alert-info{
 position: relative;
}
.dropdown-item:hover{
  color: rgb(5,111,187);
}
.login-widget.jiaozi-login.card .btn:hover{
  background-color: rgb(5,111,187);
}
input{
  transition: background-color 0.3s;
}
input:hover{
  transition: background-color 0.3s;
  background-color: #f5f5f5;
  border-color:#86b7fe;
  box-sizing: border-box;
}
/*fixui2.0 The color matching is not consistent enough */