body {
  overflow: hidden;
  background-repeat: repeat;
}
a {
  color: inherit;
  text-decoration: none;
}
.main-app {
  display: flex;
  height: 100vh;
  overflow: auto;
}
@media (max-width: 600px) {
  .main-app {
    display: grid;
  }
}
.logo {
  margin-left: 10px;
}
.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-box img {
  height: 48px;
  width: 48px;
}
.login-box .Signtittle {
  font-size: 24px;
  color: #1f3238;
  font-weight: 300;
}

.label-title {
  font-size: 14px;
  padding-left: 8px;
}

.login-display {
  width: 400px;
  height: 450px;
  margin-top: 100px;
  border-radius: 5px 0 0 5px;
  background-image: url(../../pub/space-7073093_1280.png);
}
.login-display .tittle {
  display: flex;
  justify-content: center;
}
.login-display .tittle h1 {
  color: white;
  font-size: 30px;
  margin: 30px;
}
.login-display .tittle h1 img {
  width: 50px;
}
@media (max-width: 600px) {
  .login-display {
    display: none;
  }
}
.login-widget.jiaozi-login.card {
  display: grid;
  justify-content: center;
  background-color: white;
  width: 332px;
  height: 342px;
  border: 1px solid #95a3a7;
  border-radius: 5px;
  margin-top: 10px;
}

.login-widget.register.card {
  height: 450px;
}

.login-widget.jiaozi-login.card .card-header {
  height: 70px;
}
.login-widget.jiaozi-login.card .card-body {
  margin-bottom: 138px;
}
.login-widget.jiaozi-login.card a {
  display: inline-block;
  margin: 20px 30px;
  color: #95a3a7;
}
.login-widget.jiaozi-login.card a:hover {
  color: #fc42c9;
  border-bottom: 3px solid #fc42c9;
}
.login-widget.jiaozi-login.card .active,
.login-widget.jiaozi-login.card a::after {
  color: #fc42c9;
  border-bottom: 3px solid #fc42c9;
}
.login-widget.jiaozi-login.card .btn {
  width: 300px;
  height: 35px;
  font-weight: 600;
  line-height: 30px;
  border: 1px solid #95a3a7;
  border-radius: 5px;
  color: white;
  background-color: #5d6280;
}
.login-widget.jiaozi-login.card .btn svg {
  font-size: 20px;
  transform: translate(-10px, 5px);
}
.login-widget.jiaozi-login.card .Goo {
  background-color: white;
  color: black;
  margin: -50px auto;
}
.login-widget.jiaozi-login.card .Git {
  margin: -50px auto;
  border-bottom: 1px solid #95a3a7;
}
.login-widget.jiaozi-login.card form {
  width: 300px;
  height: 200px;
}
.login-widget.jiaozi-login.card form .btn {
  margin: 5px auto;
  line-height: 24px;
}
.login-widget.jiaozi-login.card form strong {
  margin-left: 10px;
}
.login-widget.jiaozi-login.card input {
  font-size: 13px;
  padding: 10px;
  margin: 5px auto;
  width: 280px;
  height: 40px;
  color: #5d6280;
  border: 1px solid #95a3a7;
  border-radius: 5px;
}
.waytologin {
  margin: 40px 5px;
}
.waytologin p {
  margin: 0 auto;
  color: #95a3a7;
  font-size: 14px;
}
.waytologin .ways {
  display: flex;
  justify-content: center;
  align-items: center;
}
.waytologin .ways .item svg {
  font-size: 25px;
}
.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 20rem;
  margin-right: 10px;
  background-color: #fff;
  overflow-y: scroll;
}
@media (max-width: 600px) {
  .sidebar {
    height: 30vh;
    margin-left: 5rem;
    width: 20rem;
    border: 2px solid #dbe0fc;
  }
}
.sidebar .navbar-expand {
  justify-content: center;
}
.sidebar .navbar {
  height: 100px;
  width: 100%;
}
.sidebar .navbar .nav-link {
  color: white;
  padding: 0.5rem 1rem;
}
.sidebar form .navbar-username {
  margin: 12px;
  margin-left: 22px;
  margin-bottom: 22px;
}
.sidebar form .col {
  flex-wrap: wrap;
  align-content: space-between;
}
.sidebar form .col img {
  margin: 0 5px;
  width: 20px;
}
.sidebar form .col .btn {
  margin-right: 0px;
}
.sidebar .card {
  border: none;
}
.sidebar .card .Nav-Card {
  display: grid;
  justify-content: flex-start;
}
.sidebar .card .Nav-Card svg {
  margin: 3px 3px 5px 5px;
}
.sidebar .card .Nav-Card .active {
  background: none;
  color: black;
  border-left: 3px solid #658fd3;
}
.sidebar .card .Nav-Card button:hover {
  background: none;
  color: black;
  border-left: 3px solid #658fd3;
}
.sidebar .card .Nav-Card button {
  background: none;
  color: black;
  border: none;
  text-align: left;
  margin-bottom: 0.2rem;
  font-weight: 600;
  border-radius: 0;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.child {
  margin: 0.5rem;
  margin-bottom: 5rem;
  padding-top: 0.8rem;
  width: 100%;
  overflow-y: scroll;
}
@media (max-width: 600px) {
  .child {
    border: 2px solid #dbe0fc;
  }
}
.diif-remove span {
  background-color: rgba(255, 0, 0, 0.2);
  text-decoration: line-through;
  color: rgba(255, 0, 0, 0.8);
}
.diif-add span {
  background-color: rgba(0, 128, 0, 0.2);
  color: rgba(0, 128, 0, 0.8);
}
.leftNav {
  background-color: #7b848e;
  border-radius: 5px;
}
.welcome {
  margin-top: 100px;
  display: grid;
  justify-content: center;
}
.welcome code {
  color: #827a7e;
  margin: auto;
}
.welcome img {
  width: 70px;
  margin: 0 auto;
}
.welcome h1 {
  font-size: 16px;
  margin: 20px auto;
}
.Progress {
  width: 40%;
  margin: 10rem auto;
}
.Progress .progress-bar {
  background-color: #95a3a7;
}
.Progress .version {
  width: 100%;
  display: flex;
  justify-content: center;
}
.topNav {
  background-color: #f1f1f3;
  border-bottom: 2px solid #dbe0fc;
}
.topNav .navbar-brand {
  display: flex;
}
.topNav .navbar-brand strong {
  line-height: 30px;
  margin-left: 0.5rem;
  font-size: 16px;
}
.Nav-file {
  display: block;
  margin-left: 2rem;
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
}
.Nav-dir {
  display: flex;
  font-weight: 600;
  margin-left: 0.8rem;
  font-size: 14px;
  white-space: nowrap;
}
.Nav-dir .Nav-Down {
  width: 20px;
  height: 20px;
}
.Nav-dir .Nav-Dir {
  font-size: 16px;
  margin-right: 5px;
  color: blue;
}
.Child-nav {
  margin-left: 18px;
}
.filerender {
  display: flex;
}
.storage {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.2rem;
  margin-left: 0.5rem;
  color: #878686;
  border: 1px solid #dcdbdb;
  border-radius: 2px;
  background-color: #e5e5e5;
}
.repo-card {
  margin-top: 1rem;
}
.repo-card .repo-card-header {
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  line-height: 2.5rem;
}
.repo-card .repo-card-header svg {
  font-size: 18px;
  margin: 0 0.2rem 0.2rem 0;
}
.repo-card .repo-card-header strong {
  font-size: 0.9rem;
}
.repo-card .card {
  border-radius: 0;
  border: 0.5px solid #eeeeee;
}
.Navtittle {
  margin: 2.5rem 2rem 0.7rem 2rem;
  font-size: 20px;
}
.AKSK-List .row button {
  width: 12rem;
  margin: 0.5rem auto;
}
.AKSK-List .card {
  margin: 0.5rem auto;
}
.AKSK-List .card .card-body {
  display: flex;
}
.AKSK-List .card .card-body button {
  height: 2.5rem;
  width: 8rem;
  margin: auto;
  margin-right: 4rem;
}
.to-repo {
  margin-top: 1.35rem;
  font-size: 18px;
}
.repoTittle {
  font-size: 20px;
  padding-top: 0.5rem;
}
.repo-create .form-floating {
  margin: 5px 0;
}
.repo-create .repo-Visable {
  border: 1px solid #dbe0fc;
  padding: 5px;
  border-radius: 5px;
}
.sortMenu {
  font-size: 14px;
}
.sortMenu .dropdown-item {
  padding-right: 1rem;
  padding-left: 2rem;
}
.sortMenu .UpsplitDropdown {
  border-bottom: 1px solid #dbe0fc;
}
.sortType {
  border: none;
  background-color: rgba(188, 188, 188, 0.1);
  color: #434343;
}
.sortType:active {
  border: none;
  background-color: rgba(188, 188, 188, 0.1) !important;
  color: #434343 !important;
}
.sortType:hover {
  border: none;
  background-color: rgba(188, 188, 188, 0.1) !important;
  color: #434343 !important;
}
.show .sortType {
  border: none;
  background-color: rgba(188, 188, 188, 0.1) !important;
  color: #434343 !important;
}
