body {
  background-color: #f1f3f8;
  background-repeat: repeat;
}
a {
  color: inherit;
  text-decoration: none;
}
.main-app {
  display: flex;
}
@media (max-width: 600px) {
  .main-app {
    display: grid;
  }
}
.logo {
  margin-left: 20px;
  margin-right: -10px;
}
.login-box {
  display: grid;
  margin-top: 50px;
}
.login-box img {
  margin-left: 100px;
  height: 100px;
  width: 100px;
}
.login-box .Signtittle {
  margin-left: 50px;
  font-size: 24px;
}
.login-display {
  width: 400px;
  height: 450px;
  margin-top: 100px;
  border-radius: 5px 0 0 5px;
  background-image: url(../../pub/space-7073093_1280.png);
}
.login-display .tittle {
  display: flex;
  justify-content: center;
}
.login-display .tittle h1 {
  color: white;
  font-size: 30px;
  margin: 30px;
}
.login-display .tittle h1 img {
  width: 50px;
}
@media (max-width: 600px) {
  .login-display {
    display: none;
  }
}
.login-widget.jiaozi-login.card {
  display: grid;
  justify-content: center;
  background-color: white;
  width: 332px;
  height: 450px;
  border: 1px solid #95a3a7;
  border-radius: 0 5px 5px 0;
  margin-top: 10px;
}
.login-widget.jiaozi-login.card .card-header {
  height: 80px;
}
.login-widget.jiaozi-login.card .card-body {
  margin-bottom: 100px;
}
.login-widget.jiaozi-login.card a {
  display: inline-block;
  margin: 20px 30px;
  color: #95a3a7;
}
.login-widget.jiaozi-login.card a:hover {
  color: #fc42c9;
  border-bottom: 3px solid #fc42c9;
}
.login-widget.jiaozi-login.card .active,
.login-widget.jiaozi-login.card a::after {
  color: #fc42c9;
  border-bottom: 3px solid #fc42c9;
}
.login-widget.jiaozi-login.card .btn {
  width: 300px;
  height: 35px;
  font-weight: 600;
  line-height: 30px;
  border: 1px solid #95a3a7;
  border-radius: 5px;
  color: white;
  background-color: #5d6280;
}
.login-widget.jiaozi-login.card .btn svg {
  font-size: 20px;
  transform: translate(-10px, 5px);
}
.login-widget.jiaozi-login.card .Goo {
  background-color: white;
  color: black;
  margin: -50px auto;
}
.login-widget.jiaozi-login.card .Git {
  margin: -50px auto;
  border-bottom: 1px solid #95a3a7;
}
.login-widget.jiaozi-login.card form {
  width: 300px;
  height: 200px;
}
.login-widget.jiaozi-login.card form .btn {
  margin: 5px auto;
  line-height: 24px;
}
.login-widget.jiaozi-login.card form strong {
  margin-left: 10px;
}
.login-widget.jiaozi-login.card input {
  font-size: 13px;
  padding: 10px;
  margin: 5px auto;
  width: 280px;
  height: 40px;
  color: #5d6280;
  border: 1px solid #95a3a7;
  border-radius: 5px;
}
.waytologin {
  margin: 40px 5px;
}
.waytologin p {
  margin: 0 auto;
  color: #95a3a7;
  font-size: 14px;
}
.waytologin .ways {
  display: flex;
  justify-content: center;
  align-items: center;
}
.waytologin .ways .item svg {
  font-size: 25px;
}
.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 20rem;
  border-right: 2px solid #dbe0fc;
  margin-right: 10px;
  background-color: #fff;
}
@media (max-width: 600px) {
  .sidebar {
    height: 60vh;
    margin-left: 5rem;
    width: 20rem;
    border: 2px solid #dbe0fc;
  }
}
.sidebar .navbar-expand {
  justify-content: center;
}
.sidebar .navbar {
  height: 100px;
  width: 100%;
}
.sidebar .navbar .nav-link {
  color: white;
  padding: 0.5rem 1rem;
}
.sidebar form .navbar-username {
  margin: 12px ;
  margin-left: 22px;
  margin-bottom: 22px;
}
.sidebar form .col {
  flex-wrap: wrap;
  align-content: space-between;
}
.sidebar form .col img {
  margin: 0 5px;
  width: 20px;
}
.sidebar form .col .btn {
  margin-right: 0px;
}
.child {
  margin: 15px;
  width: 100%;
}
@media (max-width: 600px) {
  .child {
    margin-left: 5rem;
    border: 2px solid #dbe0fc;
  }
}
.diif-remove span {
  background-color: rgba(255, 0, 0, 0.2);
  text-decoration: line-through;
  color: rgba(255, 0, 0, 0.8);
}
.diif-add span {
  background-color: rgba(0, 128, 0, 0.2);
  color: rgba(0, 128, 0, 0.8);
}
.leftNav {
  background-color: #7b848e;
  border-radius: 5px;
}
.welcome {
  margin-top: 100px;
  display: grid;
  justify-content: center;
}
.welcome code {
  color: #827a7e;
  margin: auto  ;
}
.welcome img {
  width: 70px;
  margin: 0 auto;
}
.welcome h1 {
  font-size: 16px;
  margin: 20px auto;
}
.Progress {
  width: 40%;
  margin: 10rem auto;
}
.Progress .progress-bar {
  background-color: #95a3a7;
}
.Progress .version {
  display: block;
  width: 200px;
  margin: 0 auto;
}
.topNav {
  background-color: #f1f1f3;
  border-bottom: 2px solid #dbe0fc;
}
.topNav .navbar-brand {
  display: flex;
}
.topNav .navbar-brand .nav-link {
  line-height: 30px;
  margin-left: 1rem;
  font-size: 16px;
}
