
a {
  color: inherit;    
  text-decoration: none; 
}

.login-widget.jiaozi-login.card{
  display:grid;
  justify-content: center;
  background-color: white;
  width: 332px;
  height: 240px;
  border: 1px solid #95a3a7;
  border-radius: 5px;
  a{
    display: inline-block;
    margin: 20px 30px;
    color: #95a3a7;
  }
  a:hover{
    color: #fc42c9;
    border-bottom: 3px solid #fc42c9;
}
a::after{
    color: #fc42c9;
    border-bottom: 3px solid #fc42c9;
}
 .btn{
  width: 200px;
  height: 35px;
  font-weight: 600;
  line-height: 30px;
  border: 1px solid #95a3a7;
  border-radius: 5px;
  color: white;
  background-color: #5d6280;
  svg{
    font-size: 20px;
    transform: translate(-10px,5px);
  }
 }
 .Goo{
  background-color: white;
  color: black;
  margin: -50px auto;
 }
 .Git{
  margin: -50px auto;
  border-bottom: 1px solid #95a3a7;
 }
 form{
  width: 300px;
  height: 200px;
  .btn{
    margin: 5px 50px;
    line-height: 24px;
  }
 }
 input{
  font-size: 13px;
  padding: 10px;
  margin: 5px 50px;
  width: 200px;
  height: 15px;
  color: #5d6280;
  border: 1px solid #95a3a7;
  border-radius: 5px;
 }
}
.login-widget.jiaozi-login.card.register{
  height: 280px;
}